@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.depoimentos {
    padding-bottom: 120px;
}

.titulo-depoimentos {
    font-family: 'Popins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    color: #000;
    margin-left: 24px;
    margin-bottom: 65px;
    width: 259px;
}

.descricao-depoimento {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: var(--verde-escuro);
    width: 263px;
    margin-left: auto;
    margin-right: auto;
}

.imagem-depoimento {
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
}

.nome-depoimento {
    margin-left: 10px;
}

.ponto-depoimento {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #000;
}

.depoimento2 {
    display: none;
}

.aspas-depo{
    width: 20px;
}


/* Responsivo Desktop */

@media screen and (min-width:1400px) and (max-width: 1980px){
    body {
        width: 1440px;
        max-width: 1980px;
        height: 1024px;
    }

    .depoimentos {
        margin-bottom: 10rem;
    }

    .titulo-depoimentos {
        width: 440px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .wrap-depoimentos {
        display: flex;
        justify-content: space-around;
    }

    .depoimento2 {
        width: 263px;
        line-height: 26px;
        display: flex;
        flex-direction: column;
    }

    .imagem-depoimento2 {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    .imagem-depoimento2 img {
        margin-right: 10px;
      
    }

}

/* Responsivo */

@media screen and (min-width: 700px) and (max-width:1024px){

    .titulo-depoimentos {
        width: 400px;
        text-align: center;
        margin: auto;
    }

    .depoimentos{
        display: flex;
        flex-direction: column;
    }

    .depoimento2 {
        display: flex;
        flex-direction: column;
        width: 263px;
        margin-left: auto;
        margin-right: auto;
        line-height: 26px;
        margin-top: 50px;
    }

    .descricao-depoimento2 {
        margin-bottom: 20px;
    }
    
    .depoimento1 {
        display: flex;
        flex-direction: column;
        width: 263px;
        margin-left: auto;
        margin-right: auto;
        line-height: 26px;
        margin-top: 50px;
    }

    .imagem-depoimento {
        margin-left: 0;
    }
}

/* Responsivo Desktop */