@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.wrap-servicos {
    padding-bottom: 80px;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}

.titulo-servicos {
    font-family: 'Popins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
    margin-left: 24px;
}

.descricao-servicos {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--cinza);
    margin-left: 24px;
    width: 327px;
    height: 104px;
}

.descricao-cor {
    color: var(--verde-base);
    font-weight: 700;
}


.titulo-terapia, .titulo-cortes, .titulo-tratamentos {
    font-family: 'Popins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color:var(--verde-escuro);
    margin-bottom: 12px;
}

.descricao-terapia, .descricao-cortes, .descricao-tratamentos {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--cinza);
    margin-bottom: 58px;
}

.imagem-terapia, .imagem-cortes, .imagem-tratamentos {
    margin-top: 100px;
}

.terapia {
    width: 372px;
    height: 372px;
    border-bottom: 4px solid var(--verde-base);
}

.terapia .imagem-terapia {
    width: 80px;
}

.cortes {
    width: 372px;
    height: 372px;
    border-bottom: 4px solid var(--verde-base);
}

.cortes .imagem-cortes {
    width: 80px;
}

.tratamento {
    width: 372px;
    height: 372px;
    border-bottom: 4px solid var(--verde-base);
}

.tratamento .imagem-tratamentos {
    width: 80px;
}