@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.wrap-servicos {
    padding-bottom: 80px;
    text-align: center;
}

.titulo-servicos {
    font-family: 'Popins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
    margin-left: 24px;
}

.descricao-servicos {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--cinza);
    margin-left: 24px;
    width: 327px;
    height: 104px;
}

.descricao-cor {
    color: var(--verde-base);
    font-weight: 700;
}


.titulo-terapia, .titulo-cortes, .titulo-tratamentos {
    font-family: 'Popins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color:var(--verde-escuro);
    margin-bottom: 12px;
}

.descricao-terapia, .descricao-cortes, .descricao-tratamentos {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--cinza);
    margin-bottom: 58px;
}

.imagem-terapia, .imagem-cortes, .imagem-tratamentos {
    margin-top: 100px;
}

.terapia {
    width: 373px;
    height: 373px;
    border-bottom: 4px solid var(--verde-base);
}

.terapia .imagem-terapia {
    width: 80px;
}

.cortes {
    width: 372px;
    height: 372px;
    border-bottom: 4px solid var(--verde-base);
}

.cortes .imagem-cortes {
    width: 80px;
}

.tratamento {
    width: 372px;
    height: 372px;
    border-bottom: 4px solid var(--verde-base);
}

.tratamento .imagem-tratamentos {
    width: 80px;
}

/* Responsivo Desktop */

@media screen and (min-width:1400px) and (max-width: 1980px){
    body {
        width: 1440px;
        max-width: 1980px;
        height: 1024px;
    }
    .servicos {
        margin-bottom: 20rem;
    }
    .titulo-servicos {
        text-align: center;
        margin-bottom: 2rem;
    }
    .descricao-servicos {
        font-size: 19px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 5rem;
    }

    .wrap-servicos {
        display: flex;
        justify-content: space-evenly;
    }

    .terapia, .cortes, .tratamento {
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    }

}

/* Responsivo*/

@media screen and (min-width: 700px) and (max-width:1024px) {
    body {
        width: 768px;
        height: 1024px;
    }

    .servicos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .titulo-servicos {
        font-size: 40px;
    }

    .descricao-servicos {
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }

    .wrap-servicos {
        margin: auto;
    }
    .descricao-terapia, .descricao-cortes, .descricao-tratamentos {
        font-family: 'DM Sans', sans-serif;
        font-size: 23px;
        font-weight: 400;
        text-align: center;
        color: var(--cinza);
        margin-bottom: 58px;
        line-height: 30px;
    }
}
