@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.sobre::before {
    content: '';
    background: #c4fae7;
    height: 242px;
    width: 347px;
    position: absolute;
    top: 41rem;
    right: 8rem;
    z-index: -1;
    border-radius: 4px;
}

.imagem-sobre {
   margin-bottom: 32px;
   z-index: 1;
}

.titulo-sobre {
    font-family: 'Popins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: var(--verde-escuro);
    margin-bottom: 16px;
    margin-left: 20px;
}

.descricao-sobre {
    font-size: 17px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    line-height: 26px;
    color: var(--cinza);
    margin-bottom: 80px;
    margin-left: 24px;
    margin-right: 24px;
}