@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.sobre::before {
    content: '';
    background: #bee2d6;
    height: 242px;
    width: 347px;
    position: absolute;
    top: 41rem;
    right: 8rem;
    z-index: -1;
    border-radius: 4px;
}

.imagem-sobre {
   margin-bottom: 32px;
   z-index: 1;
}

.titulo-sobre {
    font-family: 'Popins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: var(--verde-escuro);
    margin-bottom: 16px;
    margin-left: 20px;
}

.descricao-sobre {
    font-size: 17px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    line-height: 26px;
    color: var(--cinza);
    margin-bottom: 80px;
    margin-left: 24px;
    margin-right: 24px;
}
/*Responsivo*/
@media screen and (min-width: 700px){
    body {
        width: 768px;
        height: 1024px;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagem-sobre {
        width: 500px;
    }
    .sobre::before {
        content: '';
        background: #bee2d6;
        height: 380px;
        width: 500px;
        position: absolute;
        top: 46.4rem;
        right: 5rem;
        z-index: -1;
        border-radius: 4px;
    }
}
@media screen and (min-width:1400px){
    body {
        width: 1440px;
        max-width: 1980px;
        height: 1024px;
    }

    .sobre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15rem;
    }

    .sobre .imagem-sobre {
        width: 617px;
    }

    .descricao-sobre {
        width: 610px;
    }
    .sobre::before {
        content: '';
        background: #bee2d6;
        height: 242px;
        width:500px;
        position: absolute;
        top: 52rem;
        right: 63rem;
        z-index: -1;
        border-radius: 4px;
    }
}
@media screen and (min-width: 1601px){
    body {
        width: 1620px;
        max-width: 1980px;
        height: 1024px;
    }
}