@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.social-media {
    padding: 64px 100px 64px 24px;
    background-color: var(--verde-base);
}

.titulo-social {
    font-size: 21px;
    line-height: 31px;
    font-family: 'Popins', sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 24px;
}

.beauty, .ponto {
    color: var(--verde-escuro);
}

.social-img {
    margin-top: 32px;
}

.direitos-social {
    color: white;
}

.img-social {
    margin-right: 20px;
}
/* Responsivo */
@media screen and (min-width: 700px){
    .social-media {
        width: 700px;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .titulo-social {
        font-size: 30px;
    }

    .direitos-social {
        font-size: 20px;
    }
}
@media screen and (min-width:1400px){
    body {
        width: 1440px;
        max-width: 1980px;
        height: 1024px;
    }

    .titulo-social {
        font-size: 30px;
    }
    
    .social-media {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }

}
@media screen and (min-width: 1601px){
    body {
        width: 1620px;
        max-width: 1980px;
        height: 1024px;
    }
    .social-media{
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }
}