@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.social-media {
    padding: 64px 100px 64px 24px;
    background-color: var(--verde-base);
}

.titulo-social {
    font-size: 21px;
    line-height: 31px;
    font-family: 'Popins', sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 24px;
}

.beauty, .ponto {
    color: var(--verde-escuro);
}

.social-img {
    margin-top: 32px;
}

.direitos-social {
    color: white;
}

.img-social {
    margin-right: 20px;
}

/* Responsivo */


@media screen and (min-width: 700px) {
    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-social {
        font-size: 30px;
    }

    .direitos-social {
        font-size: 20px;
    }
}

/* Responsivo Desktop*/


@media screen and (min-width: 410px) and (max-width:413 px){
    body {
        width: 420px;
    }
}